.credential,
li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5em 5em 5em;
  grid-template-rows: 1fr;
  list-style: none;
  text-align: left;
  align-items: center;
  justify-content: center;
  margin: 0 3em;
  padding: 0.5em;
}

button {
  background-color: #6e6e6e;
  border-radius: 0.3em;
  border: none;
  margin: 0.5em;
  text-align: center;
  text-decoration: none;
}
